<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">

    <link rel="stylesheet" href="/css/vendor/style-theme.css">
    <link rel="stylesheet" href="/static/js/vendor/ngprogress/ngProgress.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/static/js/vendor/ngDialog/css/ngDialog.min.css">
    <link rel="stylesheet" href="/static/js/vendor/ngDialog/css/ngDialog-theme-default.min.css">
    <link rel="stylesheet" href="/static/js/vendor/toaster/toaster.css">
    <link rel="stylesheet" href="/static/js/vendor/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/vendor/line-icons.css">
    <link rel="stylesheet" href="/css/vendor/five.css">
    <link rel="stylesheet" href="/css/vendor/elegant-icons-style.css">
    <link rel="stylesheet" href="/css/fonts/font-awesome.css">
    <link rel="stylesheet" href="/css/vendor/bootstrap-theme.css">

    <script src="https://apis.google.com/js/api:client.js"></script>
    <script src="https://connect.facebook.net/en_US/sdk.js"></script>
    <script type="text/javascript" src="http://vk.com/js/api/share.js?94" charset="windows-1251"></script>

    <script>
        jsVersion = 1;
    </script>
    <script src="/static/js/vendor/requirejs/require.js"></script>
     <script>
        require.config({
            baseUrl: "/static/js/",
            paths: {
                "underscore": "vendor/underscore/underscore-min",
                "angular": "vendor/angular/angular",
                "ocLazyLoad": "vendor/oclazyload/dist/ocLazyLoad",
                "angular-drag-and-drop-lists": "vendor/angular-drag-and-drop-lists/angular-drag-and-drop-lists",
                "angular-ui-router": "vendor/angular-ui-router/release/angular-ui-router",
                "ng-file-upload-all" : "vendor/ng-file-upload/ng-file-upload-all",
                "ngProgress": "vendor/ngprogress/build/ngprogress.min",
                "jquery": "vendor/jquery/jquery.min",
                "toaster": "vendor/toaster/toaster.min",
                "ngDialog": "vendor/ngDialog/js/ngDialog.min",
                "moment": "vendor/moment/moment",
                "moment-timezone-with-data": "vendor/moment-timezone/builds/moment-timezone-with-data",
                "moment-timezone-with-data-2010-2020": "vendor/moment-timezone/builds/moment-timezone-with-data-2010-2020",
                "bootstrap": "vendor/bootstrap/dist/js/bootstrap.min",
                "jquery.backstretch": "vendor/jquery-backstretch/jquery.backstretch"
            },
            shim: {
                angular: {
                    exports: "angular"
                },
                jquery: {
                    exports: "$"
                } ,
                bootstrap: {
                    deps: ["jquery"]
                },
                "angular-ui-router": {
                    deps: ["angular"]
                },
                "angular-drag-and-drop-lists": {
                    exports: "",
                    deps: ["angular"]
                },
                ngDialog: {
                    deps: ["angular"]
                },
                toaster: {
                    deps: ["angular"]
                },
                ngProgress: {
                    deps: ["angular"]
                },
                "ng-file-upload-all": {
                    deps: ["angular"]
                }
            }
        });

        require(["config.route"], function () {});

//        requirejs.onResourceLoad = function(context, map, depArray) {
//             console.log("onResourceLoad" , map.id);
//        }
     </script>
    <title>Bookmark Tree</title>
</head>
<body>
<div id="fb-root"></div>
<script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v2.7&appId=1658456254475560";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
<div>
    <toaster-container></toaster-container>
    <div ui-view></div>
</div>
</body>
</html>