<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <script type="text/javascript" src="/js/vendor/underscore/underscore-min.js"></script>
    <script type="text/javascript" src="/js/vendor/angular/angular.js"></script>
    <script type="text/javascript" src="/js/vendor/oclazyload/dist/ocLazyLoad.js"></script>
    <script type="text/javascript" src="/js/vendor/angular-drag-and-drop-lists/angular-drag-and-drop-lists.min.js"></script>
    <script type="text/javascript" src="/js/vendor/angular-ui-router/release/angular-ui-router.js"></script>
    <script type="text/javascript" src="/js/vendor/toaster/toaster.min.js"></script>
    <script type="text/javascript" src="/js/app/app.js"></script>
    <script type="text/javascript" src="/js/app/config.route.js"></script>
    <script type="text/javascript" src="/js/vendor/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="/js/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/vendor/ngDialog/js/ngDialog.min.js"></script>
    <script type="text/javascript" src="/js/vendor/moment/min/moment.min.js"></script>

    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="stylesheet" href="/js/vendor/ngDialog/css/ngDialog.min.css">
    <link rel="stylesheet" href="/js/vendor/ngDialog/css/ngDialog-theme-default.min.css">
    <link rel="stylesheet" href="/js/vendor/toaster/toaster.css">
    <link rel="stylesheet" href="/js/vendor/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/vendor/line-icons.css">
    <link rel="stylesheet" href="/css/vendor/five.css">
    <link href="/css/vendor/elegant-icons-style.css" rel="stylesheet" />
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
    <link rel="stylesheet" href="/fonts/font-awesome/css/font-awesome.min.css">
    <!--<link rel="stylesheet" href="/css/vendor/form-elements.css">-->
    <link rel="stylesheet" href="/css/vendor/bootstrap-theme.css">
    <link rel="stylesheet" href="/css/vendor/style-theme.css">




    <title>Bookmark Tree</title>
</head>
<body>
<div ng-app="app">
    <toaster-container></toaster-container>
    <div ui-view></div>
</div>
</body>
</html>