.custom-panel-header {
  background-color: #427282 !important;
  color: #ffffff !important;
}

.user-list .dndPlaceholder {
  display: none;
}

.checkbox {
  min-height: 27px;
  padding-top: 7px;
  margin-top: 0;
  margin-bottom: 0;
}

.radio, .checkbox {
  position: relative;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}
.radio label, .checkbox label {
  min-height: 20px;
  padding-left: 20px;
  margin-bottom: 0;
  font-weight: normal;
  cursor: pointer;
}

.i-checks {
  padding-left: 20px;
  cursor: pointer;
}

label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: bold;
}

.radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
  position: absolute;
  margin-top: 4px \9;
  margin-left: -20px;
}

.i-checks input {
  position: absolute;
  margin-left: -20px;
  opacity: 0;
}

input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px \9;
  line-height: normal;
}

.i-checks input:checked+i {
  border-color: #23b7e5;
}

.i-checks>i {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-top: -2px;
  margin-right: 4px;
  margin-left: -20px;
  line-height: 1;
  vertical-align: middle;
  background-color: #fff;
  border: 1px solid #cfdadd;
}

.i-checks input:checked+i:before {
  top: 3px;
  left: 4px;
  width: 11px;
  height: 11px;
  background-color: #23b7e5;
}

.i-checks>i:before {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  background-color: transparent;
  content: "";
  -webkit-transition: all .2s;
  transition: all .2s;
}

.search-bar {
  background: url('../images/search-icon.jpg') no-repeat 3px !important;
  background-color: #ffffff !important;
  color: black !important;
  padding-left: 35px !important;
}

.avatar input[type="file"]{
  z-index: 999;
  line-height: 0;
  font-size: 50px;
  position: absolute;
  opacity: 0;
  filter: alpha(opacity = 0);-ms-filter: "alpha(opacity=0)";
  cursor: pointer;
  _cursor: hand;
  margin: 0;
  padding:0;
  left:0;
  height: 0px;
  width: 0px;
}
.avatar label{
  overflow:hidden;
  cursor:pointer;
  text-align:center;
  display:block;
  width: 100%;
}

.avatar-img img {
  width: 100%;
  height: auto;
 }

@keyframes fadeInUp {
  from {margin-top: 30%;}
  to {margin-top: 0px;}
}

@-webkit-keyframes fadeInUp{
  from {padding-top: 30%;}
  to {padding-top: 0px;}
}

.fade-in-up {
  animation: fadeInUp 0.7s;
  -webkit-animation: fadeInUp 0.7s;
}
