<h3 class="page-header"><i class="glyphicon glyphicon-book"></i> {{$stateParams.name}}</h3>
<div class="row" id="portfolio" >
    <div class="col-sm-12">
        <input placeholder="Search" ng-model="bookmarkName" type="text" class="form-control round-input search-bar">

        <div style="max-height: 300px; overflow: auto;">
            <div class="list-group">
            </div>
        </div>
         <div class="row">
            <div ng-repeat="bookmark in bookmarks|filter:bookmarkName">
                <bookmark-panel branch="false" entity="bookmark"></bookmark-panel>
            </div>
        </div>
    </div>
</div>
