<div class="fade-in-up">
    <h3 class="page-header ng-scope"><i class="glyphicon glyphicon-user"></i> Friends</h3>
    <div class="row">
        <div class="col-sm-12">
            <input placeholder="Search" ng-model="userName" type="text" class="form-control round-input search-bar">

            <div style="max-height: 300px; overflow: auto;">
                <div class="list-group">
                    <a class="list-group-item" href="#"  ng-repeat="user in userList">{{user.name}}
                        <span ng-show = "!user.isFriend" ng-click="addToFriends(user.id)" class="glyphicon glyphicon-plus-sign pull-right" title="add to friends list"></span>
                    </a>
                </div>
            </div>

            <div class="col-lg-7 col-lg-offset-5" ng-show="!friends || friends.length == 0">
                <h3 style="border-bottom: 0px !important" class="page-header">You have no friends</h3>
            </div>

            <div ng-repeat="friend in friends" class="collapseble panel panel-primary" >
                <div class="panel-heading custom-panel-header" style = "overflow: hidden; cursor: pointer;"   ng-click="loadDetails($index)" ng-class="{open: friend.showDetails}">
                    <div class="row">
                        <div class="col-lg-7">
                            <span class="profile-ava">
                                <img ng-src="{{avatarService.getPath(friend.avatar)}}" alt="" style="height: 40px; width: 40px;"/>
                            </span>
                            <strong>{{friend.name}} </strong>{{friend.mail}}
                        </div>
                        <div class="col-lg-2 col-md-offset-1">

                        </div>
                        <div class="col-lg-5">
                            <span ng-class="{'glyphicon-chevron-down': !friend.showDetails, 'glyphicon-chevron-up': friend.showDetails}" style="margin-left: 10px;" class="pull-right glyphicon" title="expand/hide"></span>
                            <span ng-click="removeFriend(friend.id)" class="pull-right glyphicon glyphicon-remove-sign" title="remove"></span>
                        </div>
                    </div>
                </div>

                <div class="panel-body" ng-class="{openWell: friend.showDetails, closeWell: !friend.showDetails}" style="overflow: hidden;">
                    <div class="col-md-3 col-md-offset-5">
                        <img ng-show="!friend.sharedEntitiesData" style="height: 30px"  src="/images/loader.gif"/>
                        <h6 ng-show="friend.sharedEntitiesData && friend.sharedEntitiesData.branches.length == 0 && friend.sharedEntitiesData.bookmarks == 0">There are no shared bookmarks</h6>
                    </div>

                    <div ng-if="friend.sharedEntitiesData.branches && friend.sharedEntitiesData.branches.length != 0" class="row">
                        <div class="col-lg-12">
                            <h5 ><i class="glyphicon glyphicon-book"></i> You share this branches with {{friend.name}}</h5>
                            <hr/>
                            <switcheable-view is-turned-on="isFriendsBranchesDisplayModeList" entities="friend.sharedEntitiesData.branches" change-handler="saveViewModeBranches(flag)" remote="true" one="/html/partials/svBranchList.html" two="/html/partials/svBranchPanel.html"></switcheable-view>
                        </div>
                    </div>

                    <!--todo inject branches and bookmarks widgets into directives-->
                    <div ng-if="friend.sharedEntitiesData.bookmarks && friend.sharedEntitiesData.bookmarks.length !=0" class="row">
                        <div class="col-lg-12">
                            <h5 ><i class="glyphicon glyphicon-book"></i> You share this bookmarks with {{friend.name}}</h5>
                            <hr/>
                            <switcheable-view is-turned-on="isFriendsBookmarksDisplayModeList" entities="friend.sharedEntitiesData.bookmarks" change-handler="saveViewModeBookmarks(flag)" remote="true" one="/html/partials/svBookmarkList.html" two="/html/partials/svBookmarkPanel.html"></switcheable-view>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

