<h3 class="page-header ng-scope"><i class="glyphicon glyphicon-user"></i> Friends</h3>
<div class="form-group">
    <div class="col-sm-12">
        <input ng-model="userName" type="text" class="form-control round-input">
        <div style="max-height: 300px; overflow: auto;">
            <div class="list-group">
                <a class="list-group-item" href="#"  ng-repeat="user in userList">{{user.name}}
                    <span ng-show = "!user.isFriend" ng-click="addToFriends(user.id)" class="glyphicon glyphicon-plus-sign pull-right" title="add to friends list"></span>
                </a>
            </div>
        </div>
        <div class="alert alert-info" ng-repeat="friend in friends">
            <button data-dismiss="alert" class="close close-sm" type="button">
                <i class="icon-remove"></i>
            </button>
            <strong>{{friend.name}} </strong>{{friend.mail}} <span ng-click="removeFriend(friend.id)" class="pull-right glyphicon glyphicon-remove-sign" title="remove"></span>
        </div>
    </div>
</div>