<div class="fade-in-up">
    <h3 class="page-header"><i class="glyphicon glyphicon-book"></i> My profile</h3>
    <div class="row" >
        <div class="col-sm-12">
            <section class="panel">
                <div class="panel-body">
                    <div class="form-horizontal ">
                        <div class="form-group">
                            <div class="col-sm-3 col-sm-offset-1 "  id = "avatar-container">
                                <div class="form-group avatar-img">
                                    <img   ng-src="{{avatar}}" alt="" ng-show= "!avatarFile" />
                                    <img   ngf-thumbnail="avatarFile" ng-style="avatarPreview" ng-show="avatarFile"/>
                                </div>
                                <div class="form-group">
                                    <form method="post" action="/files/avatar" class="avatar" name="avatars" enctype="multipart/form-data">
                                        <label class="btn btn-success">upload
                                        <span>
                                           <input ngf-select ngf-max-size="2MB" type="file" ng-model="avatarFile" name="avatar"/>
                                        </span>
                                        </label>
                                    </form>
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Name</label>
                                    <div class="col-sm-10">
                                        <form name="nameForm">
                                            <input name="name" required ng-model="currentUser.name" type="text" class="form-control">
                                        </form>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">About me</label>
                                    <div class="col-sm-10">
                                        <textarea ng-model="currentUser.about" style="width: 100%" rows="10"></textarea>
                                    </div>
                                </div>
                                <div class="col-sm-offset-2 col-sm-10">
                                    <div ng-show="nameForm.name.$error.required && nameForm.name.$touched" class="col-sm-5 validations">
                                        <span>Name is required</span>
                                    </div>
                                </div>
                                <div class="col-sm-offset-2 col-sm-10">
                                    <div ng-show="avatars.avatar.$error.maxSize && avatars.avatar.$touched" class="col-sm-5 validations">
                                        <span>Max file size is 2MB</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-2 col-md-offset-5">
                            <button class="btn btn-success" ng-click="save()">Save</button>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>


