<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap Login Form Template</title>

    <!-- CSS -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
    <link rel="stylesheet" href="/fonts/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/vendor/form-elements.css">
    <link rel="stylesheet" href="/css/vendor/style.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Favicon and touch icons -->
    <link rel="shortcut icon" href="/image/ico/favicon.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/image/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/image/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/image/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/image/ico/apple-touch-icon-57-precomposed.png">


    <!-- Javascript -->
    <script src="/js/vendor/jquery-1.11.1.min.js"></script>
    <script src="/js/vendor/bootstrap.min.js"></script>
    <script src="/js/vendor/jquery.backstretch.min.js"></script>
    <script src="/js/vendor/scripts.js"></script>

    <!--[if lt IE 10]>
    <script src="js/vendor/placeholder.js"></script>
    <![endif]-->

 <!-- Top content -->
<div class="top-content">
    <div class="fade-in-up">
        <div>
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2 text">
                        <h1><strong>Bookmark Tree</strong></h1>
                        <div class="description">
                            <p>
                                Advanced bookmarks manager
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3 form-box">
                        <div class="form-top">
                            <div class="form-top-left">
                                <h3>Register to start</h3>
                            </div>
                            <div class="form-top-right">
                                <i class="fa fa-lock"></i>
                            </div>
                        </div>
                        <div class="form-bottom">
                            <form  name="register_form" class="login-form" novalidate>
                                <div class="form-group">
                                     <input type="text" ng-model="user.name" required="" minlength="3" maxlength="30" name="username" placeholder="Name..." class="form-username form-control"  >
                                </div>
                                <div class="form-group">
                                     <input type="email" ng-model="user.mail" mail-availability=""  style = "line-height: 50px" required="" min="3" max="30" name="mail" placeholder="Mail..." class="form-username form-control"  >
                                </div>
                                <div class="form-group">
                                     <input type="password" ng-model="user.password" required="" minlength="5" maxlength="30" name="password" placeholder="Password..." class="form-password form-control"  >
                                </div>
                                <div class="form-group">
                                     <input type="password" ng-model="repeatPassword" name="form-password" placeholder="Repeat Password..." class="form-password form-control"  >
                                </div>
                                 <div ng-show="register_form.$submitted">
                                    <ul class="validations">
                                        <li ng-show="register_form.username.$error.required">User name is required</li>
                                        <li ng-show="register_form.username.$error.minlength || register_form.username.$error.maxlength">User name must be between 3 and 30</li>
                                        <li ng-show="register_form.mail.$error.required">Mail is required</li>
                                        <li ng-show="register_form.mail.$error.mail">We need a valid mail</li>
                                        <li ng-show="register_form.mail.$error.mailAvailability">Mail is already in use</li>
                                        <li ng-show="register_form.password.$error.required">Password is required</li>
                                        <li ng-show="repeatPassword != user.password">Passwords does not match</li>
                                        <li ng-show="register_form.password.$error.minlength || register_form.password.$error.maxlength">Password length must be between 5 and 30</li>
                                    </ul>

                                </div>

                                <button ng-click ="submit()" type="submit" class="btn">Sigh up!</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3 social-login">
                        <h3>...or login with:</h3>
                        <div class="social-login-buttons">
                            <a class="btn btn-link-2" href="{{vk_login}}">
                                <i class="fa fa-vk"></i> Vkontakte
                            </a>
                            <a class="btn btn-link-2" href="#">
                                <i class="fa fa-twitter"></i> Twitter
                            </a>
                            <a class="btn btn-link-2" href="#">
                                <i class="fa fa-google-plus"></i> Google Plus
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div  style="position: fixed; top: 0; z-index: -99;   background-image: url(/images/login.jpg); background-size: cover; min-height: 100vh; min-width: 100vw"></div>




