<aside>
    <div id="sidebar"  class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu">
            <li class="active">
                <a class="" href="index.html">
                    <span class="glyphicon glyphicon-list-alt"></span>
                    <span>Bookmarks</span>
                </a>
            </li>
            <li>
                <a class="" href="index.html">
                    <span class="glyphicon glyphicon-share"></span>
                    <span>Shared</span>
                </a>
            </li>
            <li>
                <a class="" href="index.html">
                    <span class="glyphicon glyphicon-user"></span>
                    <span>Friends</span>
                </a>
            </li>
        </ul>
    </div>
</aside>