<div id="portfolio" class="fade-in-up">
    <bookmark-panel is-branch="true" is-owner="entity.rightsInfo[currentUser.id]" entity="entity" ng-repeat="entity in entities"></bookmark-panel>

    <div  class="col-lg-3 col-md-3 col-sm-12 col-xs-12 portfolio-item" title="add new branch" ng-click="addBranch()">
        <div class="portfolio-caption" style="height: 230px;">
            <span class="glyphicon glyphicon-plus" style="font-size:100px; line-height: 165px;"></span>
        </div>
    </div>
</div>
